{% extends 'base.html' %}
{% block content %}

<h1 class = 'display-4'>Products</h1><br>

<div class = "table-responsive">
<table class="table table-light table-striped table-hover table-bordered table-sm">
  <thead class = 'thead-dark'>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">SKU</th>
      <th scope="col">Cost Price</th>
      <th scope="col">Selling Price</th>
      <th scope="col">Reorder Level</th>
      <th scope="col">Created At</th>
    </tr>
</thead>
<tbody>
    {% if products_rec %}
    {% for product in products_rec %}
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.sku}}</td>
      <td>{{product.cost_price}}</td>
      <td>{{product.selling_price}}</td>
      <td>{{product.reorder_level}}</td>
      <td>{{product.created_at}}</td>
    </tr>
</tbody>
{% endfor %}
{% endif %}
</table>
</div>

{% endblock %}